<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Agendamentos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/agendamentos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon-list.png" type="image/x-icon">
    <script src="/js/agendamentos.js"></script>
</head>

<body>
    <div class="container-fluid" id="top">
        <div class="row d-flex justify-content-center">
            <div
                class="col-10 w-auto d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-start mt-3 text-center text-md-start">
                <img src="/img/maisThermas.png" class="maisThermas-header me-3">
                <h2 class="ff-philomene yellow mt-3">
                    <%= agendamentos.length %>
                    <%= agendamentos.length===1 ? ' AGENDAMENTO' : ' AGENDAMENTOS' %> - 
                    <% if (dataInicio === dataFim) { %>
                        <%= dataInicioFormatada %>
                    <% } else { %>
                        <%= dataInicioFormatada %> ATÉ <%= dataFimFormatada %>
                    <% } %>
                </h2>

                <button class="btn bg-transparent border-0 p-0 dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="bi bi-funnel text-white ms-3 fs-3 yellow" data-bs-toggle="tooltip"
                        title="Filtrar data" data-bs-placement="right"></i>
                </button>
                <div class="dropdown col-auto">
                    <ul class="dropdown-menu" data-bs-theme="dark">
                        <li class="text-center pt-2">
                            <span class="fw-semibold text-white fs-6">
                                </i> Selecione o intervalo de datas:
                            </span>
                        </li>
                        <hr class="text-white">
                        <li>
                            <form action="agendamentos" method="get"
                                class="form-control bg-transparent border-0">
                                <div class="row">
                                    <div class="col-12 d-flex flex-column align-items-center mb-2">
                                        <label for="dataInicio" class="form-label text-white">Data de Início:</label>
                                        <input type="date" name="dataInicio" id="dataInicio"
                                            class="form-control input-filtrar-data" required min="1900-01-01"
                                            max="2099-12-31" value="<%= dataInicio %>">
                                    </div>
                                    <div class="col-12 d-flex flex-column align-items-center mb-3">
                                        <label for="dataFim" class="form-label text-white">Data Final:</label>
                                        <input type="date" name="dataFim" id="dataFim"
                                            class="form-control input-filtrar-data" required min="1900-01-01"
                                            max="2099-12-31" value="<%= dataFim %>">
                                    </div>
                                    <div class="col-12">
                                        <button type="submit"
                                            class="btn btn-outline-success w-100 mt-2">Buscar</button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <a href="/relatorio_agendamentos?dataInicio=<%= dataInicio %>&dataFim=<%= dataFim %>" class="nav-link text-white fs-6 link-relatorios ff-sora fw-light">
                    <i class="bi bi-file-earmark-bar-graph fs-4"></i> Relatório
                </a>
            </div>
            <div class="row text-center d-flex flex-row justify-content-around mt-2">
                <% promotores.forEach(promotor=> { %>
                    <div class="col-4 col-md-auto">
                        <a href="/agendamentos/<%= promotor.promotor %>" class="fs-6 ff-sora text-white nav-link">
                            <%= promotor.promotor.split(' ')[0] %>:
                            <span class="fs-6 ff-sora text-white">
                                <%= promotor.contagem %>
                            </span>
                        </a>
                    </div>
                <% }) %>
            </div>
            <hr class="text-white mt-3 w-75 text-center">
        </div>
        <div class="container-fluid px-5">
            <% let i=1; %>
            <% agendamentos.forEach(agendamento=> { %>
                <div class="row d-flex flex-row justify-content-between align-items-center flex-nowrap">
                    <div class="col-9 col-md-11 d-flex flex-row flex-nowrap align-items-center">
                        <span class="link-atendimento nome-agendamento text-white fw-light ff-sora dropdown-toggle <%= agendamento.classeTexto %>"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <%= i++ %> - 
                            <span
                                data-bs-toggle="tooltip"
                                data-bs-title="<%= agendamento.horarioAgendamento.slice(0, 5) %>" 
                                data-bs-placement="left">
                                <%= agendamento.nomesAgendamento %>
                            </span>
                        </span>
                        <span class="d-inline-block rounded-circle ms-2 <%= agendamento.classeCor %>"
                            style="width: 12px; height: 12px; cursor: pointer;" data-bs-toggle="tooltip"
                            data-bs-title="<%= agendamento.promotor %>" data-bs-placement="bottom">
                        </span>
                        <% if (agendamento.classeTexto === 'texto-atendido') { %>
                            <span class="ms-2 <%= agendamento.statusFinalizacao === 'Finalizado' ? 'text-success' : 'text-warning' %>"
                                data-bs-toggle="tooltip"
                                data-bs-title="<%= agendamento.statusFinalizacao %>"
                                data-bs-placement="right">
                                <i class="bi <%= agendamento.statusFinalizacao === 'Finalizado' ? 'bi-check-circle-fill' : 'bi-exclamation-circle-fill' %>"></i>
                            </span>
                        <% } %>
                        <div class="dropdown">
                            <ul class="dropdown-menu" data-bs-theme="dark">
                                <% if (agendamento.classeTexto==='texto-atendido' ) { %>
                                <li>
                                    <a class="dropdown-item" href="/ficha/<%= agendamento.id %>">
                                        <i class="bi bi-search text-white fs-6 me-1"></i> Visualizar
                                        Ficha
                                    </a>
                                </li>
                                    <li>
                                        <a class="dropdown-item" href="/finalizar_atendimento/<%= agendamento.id %>">
                                            <i class="bi bi-clipboard-check text-white fs-6 me-1"></i> Finalizar
                                            Atendimento
                                        </a>
                                    </li>
                                <% } else { %>
                                    <li>
                                        <a class="dropdown-item" href="/atendimento/<%= agendamento.id %>">
                                            <i class="bi bi-file-earmark-arrow-up text-white fs-6 me-1"></i>
                                            Preencher Ficha
                                        </a>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    <br><br>
                    <div class="col-auto p-0 me-3">
                        <form action="del_item" method="post" class="form-del-item bg-transparent border-0"
                            data-id="<%= agendamento.id %>">
                            <input type="hidden" name="dataAgendamento"
                                value="<%= agendamento.dataAgendamento %>">
                            <a href="/agendamento/editar/<%= agendamento.id %>"
                                class="text-white text-decoration-none edit-item" data-bs-toggle="tooltip"
                                data-bs-title="Editar" data-bs-placement="bottom">
                                <i class="bi bi-pencil me-2"></i>
                            </a>
                            <input type="hidden" name="idAgendamento" value="<%= agendamento.id %>">
                            <button type="button" class="btn bg-transparent p-0 btn-open-modal"
                                data-bs-toggle="modal" data-bs-target="#modalDelItem"
                                data-id="<%= agendamento.id %>">
                                <i class="bi bi-trash3 text-white del-item" data-bs-toggle="tooltip"
                                    data-bs-title="Excluir" data-bs-placement="bottom"></i>
                            </button>
                            <span class="text-white ms-1 pb-5 ff-sora">
                                - &nbsp; <%= i - 1 %>
                            </span>                            
                        </form>
                    </div>
                </div>
            <% }) %>
                <div class="modal fade" id="modalDelItem" tabindex="-1" aria-labelledby="modalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog border-0">
                        <div class="modal-content bg-dark">
                            <div class="modal-header d-flex flex-column align-items-start border-0">
                                <p class="text-white fs-4 mb-0" id="modalLabel">
                                    <i class="bi bi-exclamation-circle fs-4 text-danger fw-semibold"></i>
                                    Tem certeza?
                                </p>
                                <p class="text-danger mb-0">Essa ação não poderá ser desfeita</p>
                            </div>
                            <div class="modal-body border-0">
                                <label for="inputDelItem" class="text-white fw-semibold mb-3">
                                    > Confirme a senha de acesso para excluir as informações 
                                </label>
                                <input type="password" class="input-del-item" id="inputDelItem" placeholder="deletar">
                            </div>
                            <div class="modal-footer border-0 d-flex justify-content-start">
                                <button type="button" class="btn btn-outline-danger btn-confirm-del">
                                    Confirmar exclusão
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row d-flex flex-row justify-content-around align-items-center text-center row-links w-100 ms-5">
            <div class="col-3">
                <a href="/" class="nav-link text-white fs-6 link-cadastro ff-sora fw-light">
                    <i class="bi bi-plus fs-6"></i>Agendar
                </a>
            </div>
            <div class="col-3">
                <a href="/atendimentos" class="nav-link text-white fs-6 link-lista-atendimentos ff-sora fw-light">
                    <i class="bi bi-list-nested fs-6 me-1"></i>Ver atendimentos
                </a>
            </div>
            <div class="col-3">
                <a href="#top" class="nav-link text-white fs-6 link-top ff-sora fw-light">
                    <i class="bi bi-arrow-up text-white fs-6"></i> Voltar ao Topo
                </a>
            </div>
        </div>
    </div>

    <script>
        // > Exibição de Tooltips
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    </script>
</body>

</html>